.wrapper
  width: 830px
  margin: auto

  .lrx-document
    box-shadow: 0 0 3px 0 rgb(60 64 67 / 15%)
    background-color: #fff
    padding: 32px 44px 24px
    float: left
    border-radius: 2px

    .lrx-document-wrapper
      width: 50%
      float: left

    .lrx-block
      width: calc(100% - 20px)
      float: left
      transition: box-shadow 100ms ease-out
      padding: 10px

      &:hover
        box-shadow: 0 0 3px 0 rgb(60 64 67 / 15%)

    .chord
      font-weight: bold

    p
      margin: 0

    .lrx-lyrics-line
      sup
        visibility: hidden

      &:hover sup
        visibility: visible

      .lrx-lyrics-line-entry
        &:hover
          background-color: #00ff6173

    .lrx-document-info
      float: left
      padding: 10px
      width: calc(50% - 20px)
