.lrx-document
  box-shadow: 0 0 3px 0 rgb(60 64 67 / 15%)
  background-color: #fff
  padding: 32px 44px 24px
  width: 830px
  margin: auto

  .lrx-block-header
    margin-top: 40px

  .chord
    font-weight: bold

  p
    margin: 0
